*{
    padding: 0px;
    margin: 0px;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
body{
    border: 2px solid black;
    margin: 10px auto;
    width: 800px;
    position: relative;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    background-color: rgb(165, 104, 222);
}
main{
    background-color: black;
}
.gap{
    height: 1550px;
    justify-content: cener;
}
.inside{
    background-color: green;
    position: relative;
    left: 10px;
    right: 10px;
    top: 5px;
    height: 350px;
    width: 780px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.box{
    position: relative;
    height: 250px;
    width: 250px;
    top: 50px;
    bottom: 50px;
}
.box1{
    background-color: salmon;
}
.box2{
    background-color: blue;
}
.container{
    display: flex;
    justify-content: center;
}
.welcome{
    display: inline-flex;
    max-width: 360px;
    padding: 15px;
    position: relative;
    font-size: 32px;
    top: 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

.fix {
    position: fixed;
    z-index: 2000;
    right: 320px;
    bottom: 165px;
}

.fix img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.foot{
    background-color: rgba(221, 160, 221, 0.214);
    height: 40px;
}